spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
  jackson:
    property-naming-strategy: SNAKE_CASE
security:
  jwt:
    secret: ${JWT_SECRET}
tmdb:
  base-url: ${TMDB_BASE_URL}
  token: ${TMDB_TOKEN}